@import "../style/_config.scss";

.defaultButton {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  background-color: $lemon;
  color: $purple;
  border: 1px solid $eggshell;
  border-radius: 3px;
  transition: 0.7s;
}
.defaultButton:hover {
  cursor: pointer;
  color: $lemon;
  border: 1px solid $lemon;
  transform: scale(1.2);
  background-color: rgba(251, 255, 0, 0.089);
}
